@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&family=Poppins:wght@300;400;500&display=swap');
  
.inputFiled{
  width: 75%;
  border-radius: 10px;
  border: none !IMPORTANT;
  padding: 8px 16px;
  font-size: 16px;
  align-items: center;
  margin: 20px auto;
  display: block;
  margin-right: auto;
  margin-left: auto;
  background: #fff;
  color: #9e52e1;
  font-weight: 500;
  height: 55px;
  box-shadow: unset !IMPORTANT;
}
.searc{
  background-image: linear-gradient(45deg, #31255a, #75b4e3);
}
.clearBtn{
  border: none !important;
  color: #fff !important;
  font-size: 18px !important;
  width: 75%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  transition: ease-in-out 1s !important;
  border-radius: 10px !IMPORTANT;
  background: linear-gradient(45deg, #31255a, #75b4e3, #31255a, #75b4e3) 0% 0% / 300% 100%;
  font-family: 'Poppins', sans-serif;
  
}
.clearBtn:hover{
  background-position: 100% 0px;
  transition: all 0.4s ease-in-out 0s !important;
  
}
.raaw > div{
  color: white;
}
.ravi{}
.tempera h1{
  padding: 0;
  margin: 0;
  font-size: 800%;
} 
.gra h2{
  background-color: #f3ec78;
  background-image: linear-gradient(45deg, #31255a, #75b4e3);
  background-size: 100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700 !important;
  font-family: 'Playfair Display', serif !important;
  font-size: 120px !important;
  line-height: 120px;
  margin: 0 !important;
}
.dabba{
  background: url("./weat.jpg");
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0px 0px 40px -13px #cba4ff !important;
}
.dabba h2 {
    font-size: 60px;
    font-weight: 700;
    font-family: 'Playfair Display', serif;
}
.dabba ul {
  margin: 0;
  padding: 0;
}
.dabba ul li {
  margin: 10px 0;
  font-size: 18px;
  font-family: 'Poppins', sans-serif;
  list-style: none;
}
.main-dabba h1 {font-family: 'Playfair Display', serif;font-weight: 700;font-size: 50px;line-height: 60px;}
.main-dabba{
  padding-bottom: 50px;
}